$width: 600px;
$rcolumn: 2*$width/3;
$lcolumn: $width/3;

/* Remove the default margin and the padding 
   of all the elements on the page. */
* {
    margin: 0;
    padding: 0;
}

h1{
  text-align: center; font-size: x-large;
}

th, td {
  vertical-align: top; 
  text-align: right; 
  
} 

#finaltable:hover td { background-color: pink; }
tr:nth-child(odd)    { background-color:#eee; }
tr:nth-child(even)    { background-color:#00FF66; }
input        { text-align: right;  border{
                                    style: double;
                                    width: 25px;
    
                                    }       
    
}     /* Align input to the right  */
textarea     { border: outset; border-color: green;       }                        
table        { border: inset; border-color: green; }
table.center { margin-left:auto; margin-right:auto; }

#result{ 
    border-color: red; 
    
}
tr.error{ 
    background-color: red; 
    
}

button {
  background-color: green; 
  border-radius: 12px;
  border-color:blue;
  padding: 15px 32px;
  font-size: 16px;
  color: white;
    
  text{
    align:center;
    decoration:none;
    color: white;
   }   
    display: inline-block;
  
}

body{
     margin: 100px 150px 100px 100px;
    font{
      familily:fantasy;
      size:20em;
      weight: bold;
    }
  
    background: rgba(179,220,237,1);
    background: -moz-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 15%, rgba(188,224,238,1) 72%, rgba(188,224,238,1) 81%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,220,237,1)), color-stop(15%, rgba(41,184,229,1)), color-stop(72%, rgba(188,224,238,1)), color-stop(81%, rgba(188,224,238,1)));
    background: -webkit-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 15%, rgba(188,224,238,1) 72%, rgba(188,224,238,1) 81%);
    background: -o-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 15%, rgba(188,224,238,1) 72%, rgba(188,224,238,1) 81%);
    background: -ms-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 15%, rgba(188,224,238,1) 72%, rgba(188,224,238,1) 81%);
    background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 15%, rgba(188,224,238,1) 72%, rgba(188,224,238,1) 81%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1 );
   

   
}
